* {
    margin: 0 auto;
    font-family: 'Cambay', sans-serif;
    color: #2E2E2E;
    text-decoration: none;
}

#logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
    text-align: center;
    padding: 5px;
}
.nav{
    
    width: 100%;
}
.nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    
  }

.nav li {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    
}
.nav a:hover {
    text-decoration: underline;
}
.box {
    border: 1px solid #dcdde1;
    border-radius: 20px;
    display: flex;
    width: 300px;
}
#search-box {
    text-decoration: none ;
    border: 0px;
    text-align: center;
    width: auto;
    padding: 0px;
}
#search-icon {
    height: 20px;
    width: auto;
    padding: 2px;
}
.box-items {
    padding:1px;
    width: auto;
    height: auto;
}
